pipeline = "inorder";

qsim_server = "127.0.0.1";
qsim_port = "1234";

memory_deadlock_avoidance = true;
memory_deadlock_threshold = 50000;

execute_width = 2;

instQ_size = 16;
LDQ_size = 16;
STQ_size = 16;

inst_cache: {
    cache_size = 32768;
    assoc = 4;
    block_size = 64;
};

inst_tlb: {
    cache_size = 4096;
    assoc = 4;
    block_size = 8; // 64-bit addr
    page_size = 4096;
};

data_tlb: {
    cache_size = 4096;
    assoc = 4;
    block_size = 8; // 64-bit addr
    page_size = 4096;
};

l2_tlb: {
    cache_size = 16384;
    assoc = 8;
    block_size = 8; // 64-bit addr
    page_size = 4096;
};

FU_INT: 
{
	delay = 1;
	issue_rate = 1;
	port = [1, 0];
};

FU_MUL: 
{
	delay = 3;
 	issue_rate = 1;
	port = [0];
};

FU_FP: 
{
	delay = 3;
	issue_rate = 1;
	port = [1];
};

FU_MOV: 
{
	delay = 1;
	issue_rate = 1;
	port = [1];
};

FU_BR: 
{
	delay = 1;
	issue_rate = 1;
	port = [1];
};

FU_LD: 
{
	delay = 1;
	issue_rate = 1;
	port = [0];
};

FU_ST: 
{
	delay = 1;
	issue_rate = 1;
	port = [0];
};

