pipeline = "outorder";

qsim_server = "127.0.0.1";
qsim_port = "1234";

memory_deadlock_avoidance = true;
memory_deadlock_threshold = 50000;

fetch_width = 4;
allocate_width = 4;
execute_width = 5;
commit_width = 4;

instQ_size = 16;
RS_size = 36;
LDQ_size = 48;
STQ_size = 32;
ROB_size = 128;

inst_cache: {
    cache_size = 32768;
    assoc = 4;
    block_size = 64;
};

inst_tlb: {
    cache_size = 4096;
    assoc = 4;
    block_size = 8; // 64-bit addr
    page_size = 4096;
};

data_tlb: {
    cache_size = 4096;
    assoc = 4;
    block_size = 8; // 64-bit addr
    page_size = 4096;
};

l2_tlb: {
    cache_size = 16384;
    assoc = 8;
    block_size = 8; // 64-bit addr
    page_size = 4096;
};

FU_INT: 
{
	delay = 1;
	issue_rate = 1;
	port = [0, 1, 2];
};

FU_MUL: 
{
	delay = 3;
 	issue_rate = 3;
	port = [0];
};

FU_FP: 
{
	delay = 3;
	issue_rate = 3;
	port = [1];
};

FU_MOV: 
{
	delay = 1;
	issue_rate = 1;
	port = [0, 1, 2];
};

FU_BR: 
{
	delay = 1;
	issue_rate = 1;
	port = [2];
};

FU_LD: 
{
	delay = 1;
	issue_rate = 1;
	port = [3];
};

FU_ST: 
{
	delay = 1;
	issue_rate = 1;
	port = [4];
};


